/*table {
    border-collapse: collapse;
    width: 1+00%;
	}

th, td {
    text-align: left;
    padding: 8px;
	} */



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body{
	background-image: url('./css/fondo1.jpg');
	font-family: 'calibri';
	min-height: 100vh;
	align-items:center;
	justify-content: center;
}

.form-r{
	position: relative;
	max-width: 900px;
	width:100%;
	border-radius: 6px;
	padding: 30px;
	margin: 50px 200px;
	background: #24303c;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	color: white;
}

.form-r h2{
 	font-size: 25px;
 	font-weight: 600;
 	/*margin-bottom: 20px;	*/
}

.form-r form{
	position: relative;
	min-height:400px;
	background: #24303c;
	margin-top: 16px;
}

.form-r form .fila {
	display: flex;
	align-items:center;
	justify-content: space-between;
	flex-wrap: wrap;
	/*font-size: 15px;
	padding: 10px;
	width: 100%;
	border: 1px solid #1f53c5;
	border-radius: 4px;*/
}

form .fila .input-fila{
	display: flex;
	flex-direction: column;
	width: calc(100% / 3 - 15px);
	margin: 4px 0;	
}

.input-fila input{
	outline: none;
	border: 1px solid #333;
	border-radius: 5px;
	height: 42px;
	margin: 8px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.input-fila select{
	outline: none;
	border: 1px solid #333;
	border-radius: 5px;
	height: 42px;
	margin: 8px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.input-fila input[type="date"]{
	color: #333;
}

.input-fila input[type="date"]:valid{
	color: white;
}

.input-fila label{
	font-size: 16px;
	font-weight: 500;
	color: white;
}

.boton{
	width: 50%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 15px 0;
	font-size: 16px;
	border: 1px solid #1f53c5;
	border-radius: 4px;
} 

.boton:hover{
	font-size:17px;
	border: 1.5px solid white;
}

.form-t{
	position: relative;
	max-width: 600px;
	width:100%;
	border-radius: 6px;
	padding: 30px;
	margin: 50px 200px;
	background: #24303c;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	color: white;
}

.form-t h2{
 	font-size: 25px;
 	font-weight: 600;
 	/*margin-bottom: 20px;	*/
}

.form-t form{
	position: relative;
	background: #24303c;
	margin-top: 16px;
}

form .input-t{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 4px 0;	
}

.input-t input{
	outline: none;
	border: 1px solid #333;
	border-radius: 5px;
	height: 42px;
	margin: 8px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.input-t select{
	outline: none;
	border: 1px solid #333;
	border-radius: 5px;
	height: 42px;
	margin: 8px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.input-t input[type="date"]{
	color: #333;
}

.input-t input[type="date"]:valid{
	color: #300;
}

.input-t label{
	font-size: 18px;
	font-weight: 500;
	color: white;
}

.form-login{
	position: absolute;
	max-width: 300px;
	width:100%;
	border-radius: 6px;
	padding: 30px;
	margin: 10% 40%;
	background: #24303c;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	color: white;
	text-align:center;
}

.form-login h2{
 	font-size: 25px;
 	font-weight: 600;
 	/*margin-bottom: 20px;	*/
}

.form-login form{
	position: relative;
	background: #24303c;
	margin-top: 16px;
}

form .login{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 4px 0;	
}

.login input{
	outline: none;
	border: 1px solid #333;
	border-radius: 5px;
	height: 42px;
	margin: 8px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}


.login label{
	font-size: 18px;
	font-weight: 500;
	color: white;
}

.adm{
	position: relative;
	width:100%;
	padding: 30px;
	margin: 0 15px;
	color: #333;
}

.adm h2{
 	font-size: 25px;
 	font-weight: 600;
 	margin-bottom: 20px;
 	text-align:center;
 	
}
.adm form{
	position: relative;
	min-height:400px;
	margin-top: 10px;
}


.adm form .fila {
	display: flex;
	align-items:center;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 15px;
	padding: 10px;
	width: 100%;
}

form .fila .input-fila{
	display: flex;
	flex-direction: column;
	width: calc(100% / 3 - 15px);
	margin: 4px 0;	
}

.input-fila input{
	outline: none;
	border: 1px solid #333;
	border-radius: 5px;
	height: 42px;
	margin: 8px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.input-fila select{
	outline: none;
	border: 1px solid #333;
	border-radius: 5px;
	height: 42px;
	margin: 8px 0;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.input-fila input[type="date"]{
	color: #333;
}

.input-fila input[type="date"]:valid{
	color: #333;
}

.input-fila label{
	font-size: 16px;
	font-weight: 500;
	color: #333;
}


.botonTabla{
	width: 80%;
	background: #2E4053 ;
	border: none;
	padding: 12px;
	color: white;
	margin: 15px 0;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 4px;
} 

.botonTabla:hover{
	font-size:17px;
	border: 1.5px solid green;
}

.tabla{
	width:100%;
	border-radius: 6px;
	padding: 20px;
	background: #A9DFBF ;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	color: black;
	text-align:center;
	table-layout: fixed;
}


.tabla th {
	padding: 5px;
}

.botonAdm{
	width: 150px;
	background: #D6DBDF ;
	border: none;
	padding: 12px;
	margin: 15px 0;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 4px;
} 

.botonAdm:hover{
	font-size:17px;
	border: 1.5px solid green;
}

header {
	width:100%;
	height: 80px;
	background: #24303c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}

.logo{
	font-size: 28px;
	font-weight: bold;
	color: #fefefe;
}

.hamburger {
	display: none;
}

.nav-bar ul {
	display: flex;
}

.nav-bar ul li a {
	display: block;
	color: #fefefe;
	font-size: 20px;
	padding: 10px 25px;
	border-radius: 50px;
	transition: 0.2s;
	margin: 0 5px;
}

.nav-bar ul li a:hover{
	color: #24303c;
	background: #fefefe;
}